<!DOCTYPE html>
<html>
<body style="background-color:lightgreen;">

<center><h1>My Games</h1>

<h2><a href="/account/back"> <--- Back</a></h2>


<p><b><%= games %></b></p>


</center>
</body>
</html>
